#cont {
  padding-top: 100px;
  min-height: 100vh;
}

#nav {
  background-color: #ef5350 !important;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: white;
}
